In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/drive/MyDrive/Kaggle/'

In [3]:
!kaggle datasets download -d pardeep19singh/icc-mens-world-cup-2023

Downloading icc-mens-world-cup-2023.zip to /content
100% 102k/102k [00:00<00:00, 518kB/s]
100% 102k/102k [00:00<00:00, 517kB/s]

In [4]:
import zipfile
import pandas as pd

zip_file_path = '/content/icc-mens-world-cup-2023.zip'
extracted_folder = '/content/Cricket/'
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extracted_folder)

deliveries = pd.read_csv(extracted_folder+'deliveries.csv')
matches = pd.read_csv(extracted_folder+'matches.csv')
points_table = pd.read_csv(extracted_folder+'points_table.csv')

In [5]:
deliveries.shape

(17380, 22)

In [6]:
matches.shape

(32, 18)

In [7]:
points_table.shape

(10, 13)

In [8]:
deliveries.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [9]:
matches

,season,team1,team2,date,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,match_referee,winner,winner_runs,winner_wickets,match_type
0,2023/24,England,New Zealand,2023/10/05,1,Narendra Modi Stadium,Ahmedabad,New Zealand,field,R Ravindra,HDPK Dharmasena,Nitin Menon,Sharfuddoula,J Srinath,New Zealand,NaN,9.0,Group
1,2023/24,Pakistan,Netherlands,2023/10/06,2,Rajiv Gandhi International Stadium,Hyderabad,Netherlands,field,Saud Shakeel,AT Holdstock,CM Brown,PR Reiffel,JJ Crowe,Pakistan,81.0,NaN,Group
2,2023/24,Afghanistan,Bangladesh,2023/10/07,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,Bangladesh,field,Mehedi Hasan Miraz,JS Wilson,HDPK Dharmasena,M Erasmus,AJ Pycroft,Bangladesh,NaN,6.0,Group
3,2023/24,South Africa,Sri Lanka,2023/10/07,4,Arun Jaitley Stadium,Delhi,Sri Lanka,field,AK Markram,RK Illingworth,Sharfuddoula,AG Wharf,J Srinath,South Africa,102.0,NaN,Group
4,2023/24,Australia,India,2023/10/08,5,MA Chidambaram Stadium,Chennai,Australia,bat,KL Rahul,CB Gaffaney,RA Kettleborough,AT Holdstock,RB Richardson,India,NaN,6.0,Group
5,2023/24,New Zealand,Netherlands,2023/10/09,6,Rajiv Gandhi International Stadium,Hyderabad,Netherlands,field,MJ Santner,PR Reiffel,RJ Tucker,Nitin Menon,AJ Pycroft,New Zealand,99.0,NaN,Group
6,2023/24,England,Bangladesh,2023/10/10,7,Himachal Pradesh Cricket Association Stadium,Dharamsala,Bangladesh,field,DJ Malan,Ahsan Raza,P Wilson,HDPK Dharmasena,J Srinath,England,137.0,NaN,Group
7,2023/24,Sri Lanka,Pakistan,2023/10/10,8,Rajiv Gandhi International Stadium,Hyderabad,Sri Lanka,bat,Mohammad Rizwan,AG Wharf,CB Gaffaney,RJ Tucker,AJ Pycroft,Pakistan,NaN,6.0,Group
8,2023/24,Afghanistan,India,2023/10/11,9,Arun Jaitley Stadium,Delhi,Afghanistan,bat,RG Sharma,MA Gough,PR Reiffel,Sharfuddoula,JJ Crowe,India,NaN,8.0,Group
9,2023/24,South Africa,Australia,2023/10/12,10,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Australia,field,Q de Kock,JS Wilson,RK Illingworth,CM Brown,J Srinath,South Africa,134.0,NaN,Group
10,2023/24,Bangladesh,New Zealand,2023/10/13,11,MA Chidambaram Stadium,Chennai,New Zealand,field,LH Ferguson,HDPK Dharmasena,Nitin Menon,AG Wharf,RB Richardson,New Zealand,NaN,8.0,Group
11,2023/24,Pakistan,India,2023/10/14,12,Narendra Modi Stadium,Ahmedabad,India,field,JJ Bumrah,M Erasmus,RK Illingworth,CB Gaffaney,AJ Pycroft,India,NaN,7.0,Group
12,2023/24,Afghanistan,England,2023/10/15,13,Arun Jaitley Stadium,Delhi,England,field,Mujeeb Ur Rahman,RJ Tucker,Sharfuddoula,P Wilson,JJ Crowe,Afghanistan,69.0,NaN,Group
13,2023/24,Sri Lanka,Australia,2023/10/16,14,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Sri Lanka,bat,A Zampa,CB Gaffaney,JS Wilson,NaN,RB Richardson,Australia,NaN,5.0,Group
14,2023/24,Netherlands,South Africa,2023/10/17,15,Himachal Pradesh Cricket Association Stadium,Dharamsala,South Africa,field,SA Edwards,MA Gough,RA Kettleborough,Ahsan Raza,JJ Crowe,Netherlands,38.0,NaN,Group
15,2023/24,New Zealand,Afghanistan,2023/10/18,16,MA Chidambaram Stadium,Chennai,Afghanistan,field,GD Phillips,JS Wilson,P Wilson,J Madanagopal,J Srinath,New Zealand,149.0,NaN,Group
16,2023/24,Bangladesh,India,2023/10/19,17,Maharashtra Cricket Association Stadium,Pune,Bangladesh,bat,V Kohli,AT Holdstock,RA Kettleborough,M Erasmus,AJ Pycroft,India,NaN,7.0,Group
17,2023/24,Australia,Pakistan,2023/10/20,18,M Chinnaswamy Stadium,Bengaluru,Pakistan,field,DA Warner,CM Brown,RK Illingworth,J Madanagopal,RB Richardson,Australia,62.0,NaN,Group
18,2023/24,Netherlands,Sri Lanka,2023/10/21,19,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Netherlands,bat,S Samarawickrama,Ahsan Raza,M Erasmus,CB Gaffaney,JJ Crowe,Sri Lanka,NaN,5.0,Group
19,2023/24,South Africa,England,2023/10/21,20,Wankhede Stadium,Mumbai,England,field,H Klaasen,HDPK Dharmasena,Nitin Menon,JS Wilson,J Srinath,South Africa,229.0,NaN,Group
20,2023/24,New Zealand,India,2023/10/22,21,Himachal Pradesh Cricket Association Stadium,Dharamsala,India,field,Mohammed Shami,AT Holdstock,MA Gough,Praveen Sen,AJ Pycroft,India,NaN,4.0,Group
21,2023/24,Pakistan,Afghanistan,2023/10/23,22,MA Chidambaram Stadium,Chennai,Pakistan,bat,Ibrahim Zadran,PR Reiffel,RJ Tucker,HDPK Dharmasena,RB Richardson,Afghanistan,NaN,8.0,Group
22,2023/24,South Africa,Bangladesh,2023/10/24,23,Wankhede Stadium,Mumbai,South Africa,bat,Q de Kock,Ahsan Raza,JS Wilson,KN Ananthapadmanabhan,JJ Crowe,South Africa,149.0,NaN,Group
23,2023/24,Australia,Netherlands,2023/10/25,24,Arun Jaitley Stadium,Delhi,Australia,bat,GJ Maxwell,MA Gough,Sharfuddoula,Nitin Menon,AJ Pycroft,Australia,309.0,NaN,Group
24,2023/24,England,Sri Lanka,2023/10/26,25,M Chinnaswamy Stadium,Bengaluru,England,bat,CBRLS Kumara,AT Holdstock,CM Brown,RJ Tucker,J Srinath,Sri Lanka,NaN,8.0,Group
25,2023/24,Pakistan,South Africa,2023/10/27,26,MA Chidambaram Stadium,Chennai,Pakistan,bat,T Shamsi,AG Wharf,PR Reiffel,RA Kettleborough,RB Richardson,South Africa,NaN,1.0,Group
26,2023/24,Australia,New Zealand,2023/10/28,27,Himachal Pradesh Cricket Association Stadium,Dharamsala,New Zealand,field,TM Head,M Erasmus,Sharfuddoula,MA Gough,AJ Pycroft,Australia,5.0,NaN,Group
27,2023/24,Netherlands,Bangladesh,2023/10/28,28,Eden Gardens,Kolkata,Netherlands,bat,PA van Meekeren,JS Wilson,P Wilson,CB Gaffaney,JJ Crowe,Netherlands,87.0,NaN,Group
28,2023/24,India,England,2023/10/29,29,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,England,field,RG Sharma,AT Holdstock,RJ Tucker,CM Brown,RB Richardson,India,100.0,NaN,Group
29,2023/24,Sri Lanka,Afghanistan,2023/10/30,30,Maharashtra Cricket Association Stadium,Pune,Afghanistan,field,Fazalhaq Farooqi,CB Gaffaney,RK Illingworth,M Erasmus,J Srinath,Afghanistan,NaN,7.0,Group
30,2023/24,Bangladesh,Pakistan,2023/10/31,31,Eden Gardens,Kolkata,Bangladesh,bat,Fakhar Zaman,Nitin Menon,RA Kettleborough,PR Reiffel,AJ Pycroft,Pakistan,NaN,7.0,Group
31,2023/24,South Africa,New Zealand,2023/11/01,32,Maharashtra Cricket Association Stadium,Pune,New Zealand,field,HE van der Dussen,Ahsan Raza,HDPK Dharmasena,P Wilson,RB Richardson,South Africa,190.0,NaN,Group

In [15]:
matches.shape

(32, 18)

In [17]:
matches.columns

Index(['season', 'team1', 'team2', 'date', 'match_number', 'venue', 'city',
       'toss_winner', 'toss_decision', 'player_of_match', 'umpire1', 'umpire2',
       'reserve_umpire', 'match_referee', 'winner', 'winner_runs',
       'winner_wickets', 'match_type'],
      dtype='object')

In [62]:
matches_df = matches

In [63]:
column = ['season','date', 'match_number','umpire1', 'umpire2',
       'reserve_umpire', 'match_referee','winner_runs',
       'winner_wickets', 'match_type','toss_winner', 'toss_decision','player_of_match']

In [64]:
matches_df = matches_df.drop(columns=column)

In [65]:
rankings = {
    "India" : 1,
    "Australia" : 2,
    "South Africa" : 3,
    "Pakistan" : 4,
    "New Zealand" : 5,
    "England" : 6,
    "Sri Lanka" : 7,
    "Bangladesh" : 8,
    "Afghanistan" : 9,
    "Netherlands" : 14,
}

In [66]:
matches_df['team1_rank'] = matches_df['team1'].map(rankings)
matches_df['team2_rank'] = matches_df['team2'].map(rankings)

matches_df

,team1,team2,venue,city,winner,team1_rank,team2_rank
0,England,New Zealand,Narendra Modi Stadium,Ahmedabad,New Zealand,6,5
1,Pakistan,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,Pakistan,4,14
2,Afghanistan,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,Bangladesh,9,8
3,South Africa,Sri Lanka,Arun Jaitley Stadium,Delhi,South Africa,3,7
4,Australia,India,MA Chidambaram Stadium,Chennai,India,2,1
5,New Zealand,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,New Zealand,5,14
6,England,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,England,6,8
7,Sri Lanka,Pakistan,Rajiv Gandhi International Stadium,Hyderabad,Pakistan,7,4
8,Afghanistan,India,Arun Jaitley Stadium,Delhi,India,9,1
9,South Africa,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,South Africa,3,2
10,Bangladesh,New Zealand,MA Chidambaram Stadium,Chennai,New Zealand,8,5
11,Pakistan,India,Narendra Modi Stadium,Ahmedabad,India,4,1
12,Afghanistan,England,Arun Jaitley Stadium,Delhi,Afghanistan,9,6
13,Sri Lanka,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Australia,7,2
14,Netherlands,South Africa,Himachal Pradesh Cricket Association Stadium,Dharamsala,Netherlands,14,3
15,New Zealand,Afghanistan,MA Chidambaram Stadium,Chennai,New Zealand,5,9
16,Bangladesh,India,Maharashtra Cricket Association Stadium,Pune,India,8,1
17,Australia,Pakistan,M Chinnaswamy Stadium,Bengaluru,Australia,2,4
18,Netherlands,Sri Lanka,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Sri Lanka,14,7
19,South Africa,England,Wankhede Stadium,Mumbai,South Africa,3,6
20,New Zealand,India,Himachal Pradesh Cricket Association Stadium,Dharamsala,India,5,1
21,Pakistan,Afghanistan,MA Chidambaram Stadium,Chennai,Afghanistan,4,9
22,South Africa,Bangladesh,Wankhede Stadium,Mumbai,South Africa,3,8
23,Australia,Netherlands,Arun Jaitley Stadium,Delhi,Australia,2,14
24,England,Sri Lanka,M Chinnaswamy Stadium,Bengaluru,Sri Lanka,6,7
25,Pakistan,South Africa,MA Chidambaram Stadium,Chennai,South Africa,4,3
26,Australia,New Zealand,Himachal Pradesh Cricket Association Stadium,Dharamsala,Australia,2,5
27,Netherlands,Bangladesh,Eden Gardens,Kolkata,Netherlands,14,8
28,India,England,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,India,1,6
29,Sri Lanka,Afghanistan,Maharashtra Cricket Association Stadium,Pune,Afghanistan,7,9
30,Bangladesh,Pakistan,Eden Gardens,Kolkata,Pakistan,8,4
31,South Africa,New Zealand,Maharashtra Cricket Association Stadium,Pune,South Africa,3,5

In [67]:
matches_df.columns

Index(['team1', 'team2', 'venue', 'city', 'winner', 'team1_rank',
       'team2_rank'],
      dtype='object')

In [68]:
new_order = ['team1','team1_rank', 'team2','team2_rank', 'venue', 'city', 'winner',
       ]
matches_df = matches_df[new_order]
matches_df

,team1,team1_rank,team2,team2_rank,venue,city,winner
0,England,6,New Zealand,5,Narendra Modi Stadium,Ahmedabad,New Zealand
1,Pakistan,4,Netherlands,14,Rajiv Gandhi International Stadium,Hyderabad,Pakistan
2,Afghanistan,9,Bangladesh,8,Himachal Pradesh Cricket Association Stadium,Dharamsala,Bangladesh
3,South Africa,3,Sri Lanka,7,Arun Jaitley Stadium,Delhi,South Africa
4,Australia,2,India,1,MA Chidambaram Stadium,Chennai,India
5,New Zealand,5,Netherlands,14,Rajiv Gandhi International Stadium,Hyderabad,New Zealand
6,England,6,Bangladesh,8,Himachal Pradesh Cricket Association Stadium,Dharamsala,England
7,Sri Lanka,7,Pakistan,4,Rajiv Gandhi International Stadium,Hyderabad,Pakistan
8,Afghanistan,9,India,1,Arun Jaitley Stadium,Delhi,India
9,South Africa,3,Australia,2,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,South Africa
10,Bangladesh,8,New Zealand,5,MA Chidambaram Stadium,Chennai,New Zealand
11,Pakistan,4,India,1,Narendra Modi Stadium,Ahmedabad,India
12,Afghanistan,9,England,6,Arun Jaitley Stadium,Delhi,Afghanistan
13,Sri Lanka,7,Australia,2,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Australia
14,Netherlands,14,South Africa,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,Netherlands
15,New Zealand,5,Afghanistan,9,MA Chidambaram Stadium,Chennai,New Zealand
16,Bangladesh,8,India,1,Maharashtra Cricket Association Stadium,Pune,India
17,Australia,2,Pakistan,4,M Chinnaswamy Stadium,Bengaluru,Australia
18,Netherlands,14,Sri Lanka,7,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Sri Lanka
19,South Africa,3,England,6,Wankhede Stadium,Mumbai,South Africa
20,New Zealand,5,India,1,Himachal Pradesh Cricket Association Stadium,Dharamsala,India
21,Pakistan,4,Afghanistan,9,MA Chidambaram Stadium,Chennai,Afghanistan
22,South Africa,3,Bangladesh,8,Wankhede Stadium,Mumbai,South Africa
23,Australia,2,Netherlands,14,Arun Jaitley Stadium,Delhi,Australia
24,England,6,Sri Lanka,7,M Chinnaswamy Stadium,Bengaluru,Sri Lanka
25,Pakistan,4,South Africa,3,MA Chidambaram Stadium,Chennai,South Africa
26,Australia,2,New Zealand,5,Himachal Pradesh Cricket Association Stadium,Dharamsala,Australia
27,Netherlands,14,Bangladesh,8,Eden Gardens,Kolkata,Netherlands
28,India,1,England,6,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,India
29,Sri Lanka,7,Afghanistan,9,Maharashtra Cricket Association Stadium,Pune,Afghanistan
30,Bangladesh,8,Pakistan,4,Eden Gardens,Kolkata,Pakistan
31,South Africa,3,New Zealand,5,Maharashtra Cricket Association Stadium,Pune,South Africa

In [74]:
cleaned = matches_df
cleaned = cleaned.reset_index(drop=True)
cleaned.loc[cleaned['winner'] == cleaned['team2'], 'winning_team']=2
cleaned.loc[cleaned['winner'] == cleaned['team1'], 'winning_team']=1
cleaned = cleaned.drop(['winner'], axis=1)
cleaned['winning_team']=cleaned['winning_team'].astype(int)
cleaned

,team1,team1_rank,team2,team2_rank,venue,city,winning_team
0,England,6,New Zealand,5,Narendra Modi Stadium,Ahmedabad,2
1,Pakistan,4,Netherlands,14,Rajiv Gandhi International Stadium,Hyderabad,1
2,Afghanistan,9,Bangladesh,8,Himachal Pradesh Cricket Association Stadium,Dharamsala,2
3,South Africa,3,Sri Lanka,7,Arun Jaitley Stadium,Delhi,1
4,Australia,2,India,1,MA Chidambaram Stadium,Chennai,2
5,New Zealand,5,Netherlands,14,Rajiv Gandhi International Stadium,Hyderabad,1
6,England,6,Bangladesh,8,Himachal Pradesh Cricket Association Stadium,Dharamsala,1
7,Sri Lanka,7,Pakistan,4,Rajiv Gandhi International Stadium,Hyderabad,2
8,Afghanistan,9,India,1,Arun Jaitley Stadium,Delhi,2
9,South Africa,3,Australia,2,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,1
10,Bangladesh,8,New Zealand,5,MA Chidambaram Stadium,Chennai,2
11,Pakistan,4,India,1,Narendra Modi Stadium,Ahmedabad,2
12,Afghanistan,9,England,6,Arun Jaitley Stadium,Delhi,1
13,Sri Lanka,7,Australia,2,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,2
14,Netherlands,14,South Africa,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,1
15,New Zealand,5,Afghanistan,9,MA Chidambaram Stadium,Chennai,1
16,Bangladesh,8,India,1,Maharashtra Cricket Association Stadium,Pune,2
17,Australia,2,Pakistan,4,M Chinnaswamy Stadium,Bengaluru,1
18,Netherlands,14,Sri Lanka,7,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,2
19,South Africa,3,England,6,Wankhede Stadium,Mumbai,1
20,New Zealand,5,India,1,Himachal Pradesh Cricket Association Stadium,Dharamsala,2
21,Pakistan,4,Afghanistan,9,MA Chidambaram Stadium,Chennai,2
22,South Africa,3,Bangladesh,8,Wankhede Stadium,Mumbai,1
23,Australia,2,Netherlands,14,Arun Jaitley Stadium,Delhi,1
24,England,6,Sri Lanka,7,M Chinnaswamy Stadium,Bengaluru,2
25,Pakistan,4,South Africa,3,MA Chidambaram Stadium,Chennai,2
26,Australia,2,New Zealand,5,Himachal Pradesh Cricket Association Stadium,Dharamsala,1
27,Netherlands,14,Bangladesh,8,Eden Gardens,Kolkata,1
28,India,1,England,6,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,1
29,Sri Lanka,7,Afghanistan,9,Maharashtra Cricket Association Stadium,Pune,2
30,Bangladesh,8,Pakistan,4,Eden Gardens,Kolkata,2
31,South Africa,3,New Zealand,5,Maharashtra Cricket Association Stadium,Pune,1

In [77]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder


# One-Hot Encoding
dfc = pd.get_dummies(cleaned, columns=['team1', 'team2', 'venue', 'city',], prefix='encoded', drop_first=True)

# Print the final DataFrame with label-encoded and one-hot encoded columns
dfc

,team1_rank,team2_rank,winning_team,encoded_Australia,encoded_Bangladesh,encoded_England,encoded_India,encoded_Netherlands,encoded_New Zealand,encoded_Pakistan,...,encoded_Wankhede Stadium,encoded_Bengaluru,encoded_Chennai,encoded_Delhi,encoded_Dharamsala,encoded_Hyderabad,encoded_Kolkata,encoded_Lucknow,encoded_Mumbai,encoded_Pune
0,6,5,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,14,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,9,8,2,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,7,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,2,1,2,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,5,14,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
6,6,8,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7,7,4,2,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,9,1,2,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,3,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,8,5,2,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
11,4,1,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,9,6,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13,7,2,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,14,3,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
15,5,9,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
16,8,1,2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,2,4,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18,14,7,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
19,3,6,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
20,5,1,2,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
21,4,9,2,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
22,3,8,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
23,2,14,1,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
24,6,7,2,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
25,4,3,2,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
26,2,5,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,14,8,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
28,1,6,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,7,9,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
30,8,4,2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31,3,5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [78]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

# Assuming you have a DataFrame named 'df' with features and labels
# Adjust this based on your actual DataFrame structure
# For simplicity, assuming the last column is the target variable

# Extract features and labels
X = dfc.iloc[:, :-1].values
y = dfc.iloc[:, -1].values

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features (optional, but often recommended for neural networks)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define the model
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dropout(0.5))  # Optional: Dropout for regularization
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))  # Optional: Dropout for regularization
model.add(Dense(1, activation='sigmoid'))  # Sigmoid activation for binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=8, validation_split=0.2)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)
y_pred_binary = (y_pred > 0.5).astype(int)

accuracy = accuracy_score(y_test, y_pred_binary)
print("Accuracy:", accuracy)

Epoch 1/10
3/3 [==============================] - 2s 186ms/step - loss: 0.6029 - accuracy: 0.6000 - val_loss: 0.4377 - val_accuracy: 1.0000
Epoch 2/10
3/3 [==============================] - 0s 33ms/step - loss: 0.5195 - accuracy: 0.6500 - val_loss: 0.3700 - val_accuracy: 1.0000
Epoch 3/10
3/3 [==============================] - 0s 35ms/step - loss: 0.3648 - accuracy: 0.9000 - val_loss: 0.3143 - val_accuracy: 1.0000
Epoch 4/10
3/3 [==============================] - 0s 36ms/step - loss: 0.1980 - accuracy: 1.0000 - val_loss: 0.2643 - val_accuracy: 1.0000
Epoch 5/10
3/3 [==============================] - 0s 37ms/step - loss: 0.4450 - accuracy: 0.8500 - val_loss: 0.2241 - val_accuracy: 1.0000
Epoch 6/10
3/3 [==============================] - 0s 24ms/step - loss: 0.3037 - accuracy: 0.9500 - val_loss: 0.1916 - val_accuracy: 1.0000
Epoch 7/10
3/3 [==============================] - 0s 24ms/step - loss: 0.3076 - accuracy: 0.9000 - val_loss: 0.1662 - val_accuracy: 1.0000
Epoch 8/10
3/3 [==============================] - 0s 22ms/step - loss: 0.2456 - accuracy: 0.9000 - val_loss: 0.1457 - val_accuracy: 1.0000
Epoch 9/10
3/3 [==============================] - 0s 24ms/step - loss: 0.2130 - accuracy: 0.9000 - val_loss: 0.1297 - val_accuracy: 1.0000
Epoch 10/10
3/3 [==============================] - 0s 33ms/step - loss: 0.1932 - accuracy: 0.9000 - val_loss: 0.1178 - val_accuracy: 1.0000
1/1 [==============================] - 0s 136ms/step
Accuracy: 0.8571428571428571

In [99]:
print(y_test)
print(y_pred_binary)

[1 0 0 0 0 0 0]
[[0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]]

In [82]:
data = {
    'team1': ['India', 'South Africa'],
    'team2': ['New Zealand', 'Australia'],
    'venue': ['Wankhede Stadium', 'Eden Gardens'],
    'city': ['Mumbai', 'Kolkata'],
    'team1_rank': [1, 3],
    'team2_rank': [5, 2]
}

# Create DataFrame
test = pd.DataFrame(data)
test

,team1,team2,venue,city,team1_rank,team2_rank
0,India,New Zealand,Wankhede Stadium,Mumbai,1,5
1,South Africa,Australia,Eden Gardens,Kolkata,3,2

In [93]:
df1 = test
df2 = cleaned

# Concatenate the DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)

# Display the combined DataFrame
combined_df

,team1,team2,venue,city,team1_rank,team2_rank,winning_team
0,India,New Zealand,Wankhede Stadium,Mumbai,1,5,NaN
1,South Africa,Australia,Eden Gardens,Kolkata,3,2,NaN
2,England,New Zealand,Narendra Modi Stadium,Ahmedabad,6,5,2.0
3,Pakistan,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,4,14,1.0
4,Afghanistan,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,9,8,2.0
5,South Africa,Sri Lanka,Arun Jaitley Stadium,Delhi,3,7,1.0
6,Australia,India,MA Chidambaram Stadium,Chennai,2,1,2.0
7,New Zealand,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,5,14,1.0
8,England,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,6,8,1.0
9,Sri Lanka,Pakistan,Rajiv Gandhi International Stadium,Hyderabad,7,4,2.0
10,Afghanistan,India,Arun Jaitley Stadium,Delhi,9,1,2.0
11,South Africa,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,3,2,1.0
12,Bangladesh,New Zealand,MA Chidambaram Stadium,Chennai,8,5,2.0
13,Pakistan,India,Narendra Modi Stadium,Ahmedabad,4,1,2.0
14,Afghanistan,England,Arun Jaitley Stadium,Delhi,9,6,1.0
15,Sri Lanka,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,7,2,2.0
16,Netherlands,South Africa,Himachal Pradesh Cricket Association Stadium,Dharamsala,14,3,1.0
17,New Zealand,Afghanistan,MA Chidambaram Stadium,Chennai,5,9,1.0
18,Bangladesh,India,Maharashtra Cricket Association Stadium,Pune,8,1,2.0
19,Australia,Pakistan,M Chinnaswamy Stadium,Bengaluru,2,4,1.0
20,Netherlands,Sri Lanka,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,14,7,2.0
21,South Africa,England,Wankhede Stadium,Mumbai,3,6,1.0
22,New Zealand,India,Himachal Pradesh Cricket Association Stadium,Dharamsala,5,1,2.0
23,Pakistan,Afghanistan,MA Chidambaram Stadium,Chennai,4,9,2.0
24,South Africa,Bangladesh,Wankhede Stadium,Mumbai,3,8,1.0
25,Australia,Netherlands,Arun Jaitley Stadium,Delhi,2,14,1.0
26,England,Sri Lanka,M Chinnaswamy Stadium,Bengaluru,6,7,2.0
27,Pakistan,South Africa,MA Chidambaram Stadium,Chennai,4,3,2.0
28,Australia,New Zealand,Himachal Pradesh Cricket Association Stadium,Dharamsala,2,5,1.0
29,Netherlands,Bangladesh,Eden Gardens,Kolkata,14,8,1.0
30,India,England,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,1,6,1.0
31,Sri Lanka,Afghanistan,Maharashtra Cricket Association Stadium,Pune,7,9,2.0
32,Bangladesh,Pakistan,Eden Gardens,Kolkata,8,4,2.0
33,South Africa,New Zealand,Maharashtra Cricket Association Stadium,Pune,3,5,1.0

In [100]:
test_df = pd.get_dummies(combined_df, columns=['team1', 'team2', 'venue', 'city',], prefix='encoded', drop_first=True)

# Print the final DataFrame with label-encoded and one-hot encoded columns
test_df = test_df.drop(columns = ['winning_team'])
t_df = test_df.head(2)


scaler = StandardScaler()
t_df = scaler.fit_transform(t_df)

In [105]:
t_df.shape

(2, 38)

In [107]:
y_pred_sf = model.predict(t_df)
y_pred_binary_sf = (y_pred_sf > 0.5).astype(int)
y_pred_binary_sf

1/1 [==============================] - 0s 53ms/step

array([[0],
       [0]])

In [ ]:
def Add_Point(data, key):
  if key in data:
    data[key]+=2
  else:
    data[key]=0

predictions = model.predict(pred_set)
points = {}
for i in range(fixtures.shape[0]):
  print(backup_pred_set.iloc[i, 1] +" and " + backup_pred_set.iloc[i, 0])
  if predictions[i] == 1:
    winner = backup_pred_set.iloc[i,0]
    print("Winner:"+ winner)
  else:
    winner = backup_pred_set.iloc[i,1]
    print("Winner:"+ winner)
  Add_Point(points, winner)
  print("")