In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content/drive/MyDrive/Kaggle/'

In [7]:
!kaggle datasets download -d pardeep19singh/icc-mens-world-cup-2023

Downloading icc-mens-world-cup-2023.zip to /content
  0% 0.00/102k [00:00<?, ?B/s]
100% 102k/102k [00:00<00:00, 103MB/s]

In [8]:
import zipfile
import pandas as pd

zip_file_path = '/content/icc-mens-world-cup-2023.zip'
extracted_folder = '/content/Cricket/'
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extracted_folder)

deliveries = pd.read_csv(extracted_folder+'deliveries.csv')
matches = pd.read_csv(extracted_folder+'matches.csv')
points_table = pd.read_csv(extracted_folder+'points_table.csv')

Task 1

In [10]:
deliveries

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,JM Bairstow,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2023/24,2023-10-05,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,DJ Malan,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17375,32,2023/24,2023-11-01,"Maharashtra Cricket Association Stadium, Pune",2,34.5,New Zealand,South Africa,MJ Henry,GD Phillips,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17376,32,2023/24,2023-11-01,"Maharashtra Cricket Association Stadium, Pune",2,34.6,New Zealand,South Africa,MJ Henry,GD Phillips,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17377,32,2023/24,2023-11-01,"Maharashtra Cricket Association Stadium, Pune",2,35.1,New Zealand,South Africa,GD Phillips,MJ Henry,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17378,32,2023/24,2023-11-01,"Maharashtra Cricket Association Stadium, Pune",2,35.2,New Zealand,South Africa,GD Phillips,MJ Henry,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17379,32,2023/24,2023-11-01,"Maharashtra Cricket Association Stadium, Pune",2,35.3,New Zealand,South Africa,GD Phillips,MJ Henry,...,0,NaN,NaN,NaN,NaN,NaN,caught,GD Phillips,NaN,NaN

In [25]:
deliveries.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [49]:
d_df = deliveries

In [50]:
cd = [ 'season', 'start_date','other_wicket_type','byes', 'legbyes',
       'other_player_dismissed','penalty', 'wicket_type', 'player_dismissed',]

In [51]:
d_df = d_df.drop(columns=cd)
d_df

,match_id,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs
0,1,"Narendra Modi Stadium, Ahmedabad",1,0.1,England,New Zealand,JM Bairstow,DJ Malan,TA Boult,0,0,NaN,NaN
1,1,"Narendra Modi Stadium, Ahmedabad",1,0.2,England,New Zealand,JM Bairstow,DJ Malan,TA Boult,6,0,NaN,NaN
2,1,"Narendra Modi Stadium, Ahmedabad",1,0.3,England,New Zealand,JM Bairstow,DJ Malan,TA Boult,1,0,NaN,NaN
3,1,"Narendra Modi Stadium, Ahmedabad",1,0.4,England,New Zealand,DJ Malan,JM Bairstow,TA Boult,1,0,NaN,NaN
4,1,"Narendra Modi Stadium, Ahmedabad",1,0.5,England,New Zealand,JM Bairstow,DJ Malan,TA Boult,4,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17375,32,"Maharashtra Cricket Association Stadium, Pune",2,34.5,New Zealand,South Africa,MJ Henry,GD Phillips,KA Maharaj,0,0,NaN,NaN
17376,32,"Maharashtra Cricket Association Stadium, Pune",2,34.6,New Zealand,South Africa,MJ Henry,GD Phillips,KA Maharaj,0,0,NaN,NaN
17377,32,"Maharashtra Cricket Association Stadium, Pune",2,35.1,New Zealand,South Africa,GD Phillips,MJ Henry,G Coetzee,0,0,NaN,NaN
17378,32,"Maharashtra Cricket Association Stadium, Pune",2,35.2,New Zealand,South Africa,GD Phillips,MJ Henry,G Coetzee,6,0,NaN,NaN
17379,32,"Maharashtra Cricket Association Stadium, Pune",2,35.3,New Zealand,South Africa,GD Phillips,MJ Henry,G Coetzee,0,0,NaN,NaN

In [52]:
d_df.isnull().sum()

match_id            0
venue               0
innings             0
ball                0
batting_team        0
bowling_team        0
striker             0
non_striker         0
bowler              0
runs_off_bat        0
extras              0
wides           16949
noballs         17338
dtype: int64

In [53]:
filled = d_df.fillna(0)
filled.isnull().sum()

match_id        0
venue           0
innings         0
ball            0
batting_team    0
bowling_team    0
striker         0
non_striker     0
bowler          0
runs_off_bat    0
extras          0
wides           0
noballs         0
dtype: int64

In [54]:
for columns in filled.columns:
  print("unique in " + columns)
  print(filled[columns].unique())
  print("\n")

unique in match_id
[ 1  2  3  4  5  6  7  8  9 11 12 13 14 15 16 17 18 19 20 21 22 10 23 24
 25 26 27 28 29 30 31 32]


unique in venue
['Narendra Modi Stadium, Ahmedabad'
 'Rajiv Gandhi International Stadium, Uppal, Hyderabad'
 'Himachal Pradesh Cricket Association Stadium, Dharamsala'
 'Arun Jaitley Stadium, Delhi' 'MA Chidambaram Stadium, Chepauk, Chennai'
 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow'
 'Maharashtra Cricket Association Stadium, Pune'
 'M Chinnaswamy Stadium, Bengaluru' 'Wankhede Stadium, Mumbai'
 'Eden Gardens, Kolkata']


unique in innings
[1 2]


unique in ball
[ 0.1  0.2  0.3  0.4  0.5  0.6  1.1  1.2  1.3  1.4  1.5  1.6  2.1  2.2
  2.3  2.4  2.5  2.6  3.1  3.2  3.3  3.4  3.5  3.6  4.1  4.2  4.3  4.4
  4.5  4.6  4.7  5.1  5.2  5.3  5.4  5.5  5.6  6.1  6.2  6.3  6.4  6.5
  6.6  6.7  7.1  7.2  7.3  7.4  7.5  7.6  8.1  8.2  8.3  8.4  8.5  8.6
  9.1  9.2  9.3  9.4  9.5  9.6 10.1 10.2 10.3 10.4 10.5 10.6 11.1 11.2
 11.3 11.4 11.5 11.6 12.1 12.2 12.3 12.4 12.5 12.6 13.1 13.2 13.3 13.4
 13.5 13.6 14.1 14.2 14.3 14.4 14.5 14.6 15.1 15.2 15.3 15.4 15.5 15.6
 16.1 16.2 16.3 16.4 16.5 16.6 17.1 17.2 17.3 17.4 17.5 17.6 18.1 18.2
 18.3 18.4 18.5 18.6 19.1 19.2 19.3 19.4 19.5 19.6 19.7 20.1 20.2 20.3
 20.4 20.5 20.6 21.1 21.2 21.3 21.4 21.5 21.6 22.1 22.2 22.3 22.4 22.5
 22.6 23.1 23.2 23.3 23.4 23.5 23.6 24.1 24.2 24.3 24.4 24.5 24.6 25.1
 25.2 25.3 25.4 25.5 25.6 26.1 26.2 26.3 26.4 26.5 26.6 27.1 27.2 27.3
 27.4 27.5 27.6 28.1 28.2 28.3 28.4 28.5 28.6 29.1 29.2 29.3 29.4 29.5
 29.6 30.1 30.2 30.3 30.4 30.5 30.6 31.1 31.2 31.3 31.4 31.5 31.6 32.1
 32.2 32.3 32.4 32.5 32.6 33.1 33.2 33.3 33.4 33.5 33.6 34.1 34.2 34.3
 34.4 34.5 34.6 35.1 35.2 35.3 35.4 35.5 35.6 36.1 36.2 36.3 36.4 36.5
 36.6 37.1 37.2 37.3 37.4 37.5 37.6 38.1 38.2 38.3 38.4 38.5 38.6 39.1
 39.2 39.3 39.4 39.5 39.6 40.1 40.2 40.3 40.4 40.5 40.6 41.1 41.2 41.3
 41.4 41.5 41.6 42.1 42.2 42.3 42.4 42.5 42.6 43.1 43.2 43.3 43.4 43.5
 43.6 44.1 44.2 44.3 44.4 44.5 44.6 45.1 45.2 45.3 45.4 45.5 45.6 46.1
 46.2 46.3 46.4 46.5 46.6 47.1 47.2 47.3 47.4 47.5 47.6 48.1 48.2 48.3
 48.4 48.5 48.6 49.1 49.2 49.3 49.4 49.5 49.6 49.7  5.7 24.7 32.7  6.8
 16.7 21.7 25.7 31.7 39.7 39.8 47.7  0.7  3.7  9.7  9.8 28.7 34.7 40.7
  1.7  1.8 14.7  2.7 15.7 17.7 20.7 28.8 33.7 42.7 48.7 48.8 13.7 23.7
 23.8 30.7 37.7 42.8 30.8 44.7 46.7 47.8 27.7 27.8 29.7 34.8  2.8  2.9
 45.7  7.7 11.7 17.8 33.8 35.7 38.7 41.7 11.8 36.7 36.8  8.7 10.7 12.7
 12.8 22.7 18.7 22.8 26.7 39.9  0.8  5.8  0.9  8.8 37.8 43.7 45.8 45.9
 46.8 14.8 31.8  9.9 48.9 21.8 43.8 13.8  4.8 19.8 29.8]


unique in batting_team
['England' 'New Zealand' 'Pakistan' 'Netherlands' 'Afghanistan'
 'Bangladesh' 'South Africa' 'Sri Lanka' 'Australia' 'India']


unique in bowling_team
['New Zealand' 'England' 'Netherlands' 'Pakistan' 'Bangladesh'
 'Afghanistan' 'Sri Lanka' 'South Africa' 'India' 'Australia']


unique in striker
['JM Bairstow' 'DJ Malan' 'JE Root' 'HC Brook' 'MM Ali' 'JC Buttler'
 'LS Livingstone' 'SM Curran' 'CR Woakes' 'AU Rashid' 'MA Wood'
 'DP Conway' 'WA Young' 'R Ravindra' 'Fakhar Zaman' 'Imam-ul-Haq'
 'Babar Azam' 'Mohammad Rizwan' 'Saud Shakeel' 'Iftikhar Ahmed'
 'Mohammad Nawaz' 'Shadab Khan' 'Hasan Ali' 'Shaheen Shah Afridi'
 'Haris Rauf' 'Vikramjit Singh' "MP O'Dowd" 'CN Ackermann' 'BFW de Leede'
 'AT Nidamanuru' 'SA Edwards' 'Saqib Zulfiqar' 'RE van der Merwe'
 'LV van Beek' 'A Dutt' 'PA van Meekeren' 'Rahmanullah Gurbaz'
 'Ibrahim Zadran' 'Rahmat Shah' 'Hashmatullah Shahidi' 'Najibullah Zadran'
 'Mohammad Nabi' 'Azmatullah Omarzai' 'Rashid Khan' 'Mujeeb Ur Rahman'
 'Naveen-ul-Haq' 'Fazalhaq Farooqi' 'Tanzid Hasan' 'Liton Das'
 'Mehedi Hasan Miraz' 'Nazmul Hossain Shanto' 'Shakib Al Hasan'
 'Mushfiqur Rahim' 'Q de Kock' 'T Bavuma' 'HE van der Dussen' 'AK Markram'
 'H Klaasen' 'DA Miller' 'M Jansen' 'P Nissanka' 'MDKJ Perera'
 'BKG Mendis' 'S Samarawickrama' 'KIC Asalanka' 'DM de Silva' 'MD Shanaka'
 'DN Wellalage' 'CAK Rajitha' 'M Pathirana' 'D Madushanka' 'DA Warner'
 'MR Marsh' 'SPD Smith' 'M Labuschagne' 'GJ Maxwell' 'AT Carey' 'C Green'
 'PJ Cummins' 'MA Starc' 'A Zampa' 'JR Hazlewood' 'RG Sharma'
 'Ishan Kishan' 'V Kohli' 'SS Iyer' 'KL Rahul' 'HH Pandya' 'DJ Mitchell'
 'TWM Latham' 'GD Phillips' 'MS Chapman' 'MJ Santner' 'MJ Henry'
 'SA Engelbrecht' 'R Klein' 'RJW Topley' 'Towhid Hridoy' 'Mahedi Hasan'
 'Taskin Ahmed' 'Shoriful Islam' 'Mustafizur Rahman' 'M Theekshana'
 'Abdullah Shafique' 'Mahmudullah' 'KS Williamson' 'Shubman Gill'
 'Ikram Alikhil' 'C Karunaratne' 'CBRLS Kumara' 'JP Inglis' 'MP Stoinis'
 'G Coetzee' 'KA Maharaj' 'K Rabada' 'L Ngidi' 'Nasum Ahmed' 'Usama Mir'
 'MADI Hemantha' 'RR Hendricks' 'BA Stokes' 'DJ Willey' 'AAP Atkinson'
 'LH Ferguson' 'TA Boult' 'SA Yadav' 'RA Jadeja' 'Mohammed Shami'
 'Hasan Mahmud' 'Mohammad Wasim' 'T Shamsi' 'TM Head' 'JDS Neesham'
 'W Barresi' 'Shariz Ahmad' 'JJ Bumrah' 'Kuldeep Yadav' 'FDM Karunaratne'
 'AD Mathews' 'PVD Chameera' 'TG Southee']


unique in non_striker
['DJ Malan' 'JM Bairstow' 'JE Root' 'HC Brook' 'MM Ali' 'JC Buttler'
 'LS Livingstone' 'SM Curran' 'CR Woakes' 'AU Rashid' 'MA Wood' 'WA Young'
 'DP Conway' 'R Ravindra' 'Imam-ul-Haq' 'Fakhar Zaman' 'Babar Azam'
 'Mohammad Rizwan' 'Saud Shakeel' 'Iftikhar Ahmed' 'Mohammad Nawaz'
 'Shadab Khan' 'Shaheen Shah Afridi' 'Haris Rauf' "MP O'Dowd"
 'Vikramjit Singh' 'CN Ackermann' 'BFW de Leede' 'AT Nidamanuru'
 'Saqib Zulfiqar' 'RE van der Merwe' 'LV van Beek' 'A Dutt'
 'PA van Meekeren' 'Ibrahim Zadran' 'Rahmanullah Gurbaz' 'Rahmat Shah'
 'Hashmatullah Shahidi' 'Najibullah Zadran' 'Mohammad Nabi'
 'Azmatullah Omarzai' 'Rashid Khan' 'Mujeeb Ur Rahman' 'Naveen-ul-Haq'
 'Fazalhaq Farooqi' 'Liton Das' 'Tanzid Hasan' 'Mehedi Hasan Miraz'
 'Nazmul Hossain Shanto' 'Shakib Al Hasan' 'Mushfiqur Rahim' 'T Bavuma'
 'Q de Kock' 'HE van der Dussen' 'AK Markram' 'H Klaasen' 'DA Miller'
 'M Jansen' 'MDKJ Perera' 'P Nissanka' 'BKG Mendis' 'S Samarawickrama'
 'KIC Asalanka' 'DM de Silva' 'MD Shanaka' 'DN Wellalage' 'CAK Rajitha'
 'M Pathirana' 'D Madushanka' 'MR Marsh' 'DA Warner' 'SPD Smith'
 'M Labuschagne' 'GJ Maxwell' 'C Green' 'PJ Cummins' 'MA Starc' 'A Zampa'
 'JR Hazlewood' 'Ishan Kishan' 'RG Sharma' 'V Kohli' 'KL Rahul'
 'HH Pandya' 'DJ Mitchell' 'TWM Latham' 'GD Phillips' 'MS Chapman'
 'MJ Santner' 'MJ Henry' 'SA Edwards' 'SA Engelbrecht' 'R Klein'
 'RJW Topley' 'Towhid Hridoy' 'Mahedi Hasan' 'Taskin Ahmed'
 'Shoriful Islam' 'Mustafizur Rahman' 'M Theekshana' 'Abdullah Shafique'
 'SS Iyer' 'Mahmudullah' 'KS Williamson' 'Hasan Ali' 'Shubman Gill'
 'Ikram Alikhil' 'C Karunaratne' 'CBRLS Kumara' 'JP Inglis' 'MP Stoinis'
 'G Coetzee' 'KA Maharaj' 'K Rabada' 'L Ngidi' 'Nasum Ahmed' 'Usama Mir'
 'MADI Hemantha' 'RR Hendricks' 'BA Stokes' 'DJ Willey' 'AAP Atkinson'
 'LH Ferguson' 'SA Yadav' 'RA Jadeja' 'Mohammed Shami' 'Hasan Mahmud'
 'Mohammad Wasim' 'T Shamsi' 'TM Head' 'JDS Neesham' 'TA Boult'
 'W Barresi' 'Shariz Ahmad' 'JJ Bumrah' 'Kuldeep Yadav' 'FDM Karunaratne'
 'AD Mathews' 'PVD Chameera' 'TG Southee']


unique in bowler
['TA Boult' 'MJ Henry' 'MJ Santner' 'JDS Neesham' 'R Ravindra'
 'GD Phillips' 'CR Woakes' 'SM Curran' 'MA Wood' 'MM Ali' 'AU Rashid'
 'LS Livingstone' 'A Dutt' 'LV van Beek' 'CN Ackermann' 'PA van Meekeren'
 'BFW de Leede' 'RE van der Merwe' 'Vikramjit Singh' 'Saqib Zulfiqar'
 'Shaheen Shah Afridi' 'Hasan Ali' 'Haris Rauf' 'Iftikhar Ahmed'
 'Mohammad Nawaz' 'Shadab Khan' 'Taskin Ahmed' 'Shoriful Islam'
 'Mustafizur Rahman' 'Shakib Al Hasan' 'Mehedi Hasan Miraz' 'Mahmudullah'
 'Fazalhaq Farooqi' 'Mujeeb Ur Rahman' 'Naveen-ul-Haq' 'Rashid Khan'
 'Mohammad Nabi' 'Azmatullah Omarzai' 'CAK Rajitha' 'D Madushanka'
 'MD Shanaka' 'DM de Silva' 'M Pathirana' 'DN Wellalage' 'L Ngidi'
 'M Jansen' 'K Rabada' 'KA Maharaj' 'G Coetzee' 'JJ Bumrah'
 'Mohammed Siraj' 'HH Pandya' 'R Ashwin' 'Kuldeep Yadav' 'RA Jadeja'
 'MA Starc' 'JR Hazlewood' 'PJ Cummins' 'GJ Maxwell' 'C Green' 'A Zampa'
 'R Klein' 'LH Ferguson' 'Mahedi Hasan' 'RJW Topley' 'M Theekshana'
 'KIC Asalanka' 'SN Thakur' 'DJ Mitchell' 'JE Root' 'MP Stoinis'
 'CBRLS Kumara' 'C Karunaratne' 'V Kohli' 'Nasum Ahmed' 'Hasan Mahmud'
 'Usama Mir' 'MADI Hemantha' 'DJ Willey' 'AAP Atkinson' 'Mohammed Shami'
 'Noor Ahmad' 'MR Marsh' 'T Shamsi' 'LB Williams' 'AD Mathews'
 'AK Markram' 'Mohammad Wasim' 'Shariz Ahmad' 'PVD Chameera'
 'Nazmul Hossain Shanto' 'TG Southee']


unique in runs_off_bat
[0 6 1 4 2 3 5]


unique in extras
[0 1 3 4 5 2]


unique in wides
[0. 1. 3. 5. 2.]


unique in noballs
[0. 1.]

predicting no balls

In [55]:
X = filled.drop(columns='noballs')
Y = filled['noballs']

In [56]:
X.columns

Index(['match_id', 'venue', 'innings', 'ball', 'batting_team', 'bowling_team',
       'striker', 'non_striker', 'bowler', 'runs_off_bat', 'extras', 'wides'],
      dtype='object')

In [57]:
X_e = pd.get_dummies(X, columns=['venue', 'ball', 'batting_team', 'bowling_team', 'striker',
       'non_striker', 'bowler',], prefix='Category')

In [59]:
# Standardize the input features (optional but often beneficial)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_es = scaler.fit_transform(X_e)

In [61]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_es, Y, test_size=0.2, random_state=42)



model = keras.Sequential([
    layers.Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dropout(0.5),  # optional dropout layer to reduce overfitting
    layers.Dense(64, activation='relu'),
    layers.Dense(1, activation='sigmoid')  # assuming binary classification
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

# Evaluate the model on the test set
test_loss, test_acc = model.evaluate(X_test, y_test)
print(f'Test accuracy: {test_acc}')

Epoch 1/10
348/348 [==============================] - 3s 5ms/step - loss: 0.0325 - accuracy: 0.9924 - val_loss: 0.0115 - val_accuracy: 0.9982
Epoch 2/10
348/348 [==============================] - 2s 4ms/step - loss: 0.0136 - accuracy: 0.9973 - val_loss: 0.0116 - val_accuracy: 0.9978
Epoch 3/10
348/348 [==============================] - 1s 4ms/step - loss: 0.0086 - accuracy: 0.9973 - val_loss: 0.0133 - val_accuracy: 0.9978
Epoch 4/10
348/348 [==============================] - 1s 4ms/step - loss: 0.0067 - accuracy: 0.9978 - val_loss: 0.0155 - val_accuracy: 0.9978
Epoch 5/10
348/348 [==============================] - 1s 4ms/step - loss: 0.0060 - accuracy: 0.9980 - val_loss: 0.0140 - val_accuracy: 0.9978
Epoch 6/10
348/348 [==============================] - 1s 4ms/step - loss: 0.0039 - accuracy: 0.9988 - val_loss: 0.0155 - val_accuracy: 0.9978
Epoch 7/10
348/348 [==============================] - 2s 6ms/step - loss: 0.0036 - accuracy: 0.9988 - val_loss: 0.0172 - val_accuracy: 0.9975
Epoch 8/10
348/348 [==============================] - 2s 7ms/step - loss: 0.0029 - accuracy: 0.9993 - val_loss: 0.0165 - val_accuracy: 0.9975
Epoch 9/10
348/348 [==============================] - 2s 7ms/step - loss: 0.0018 - accuracy: 0.9994 - val_loss: 0.0168 - val_accuracy: 0.9975
Epoch 10/10
348/348 [==============================] - 1s 4ms/step - loss: 9.4873e-04 - accuracy: 0.9996 - val_loss: 0.0184 - val_accuracy: 0.9975
109/109 [==============================] - 0s 2ms/step - loss: 0.0248 - accuracy: 0.9977
Test accuracy: 0.9976984858512878

predicitng run

In [69]:
cd = [ 'season', 'start_date','other_wicket_type',
       'other_player_dismissed','penalty', 'player_dismissed',]
filled = deliveries.drop(columns=cd)
filled.isnull().sum()

match_id            0
venue               0
innings             0
ball                0
batting_team        0
bowling_team        0
striker             0
non_striker         0
bowler              0
runs_off_bat        0
extras              0
wides           16949
noballs         17338
byes            17354
legbyes         17263
wicket_type     16889
dtype: int64

In [72]:
filled  = filled.fillna(0)
filled.isnull().sum()

match_id        0
venue           0
innings         0
ball            0
batting_team    0
bowling_team    0
striker         0
non_striker     0
bowler          0
runs_off_bat    0
extras          0
wides           0
noballs         0
byes            0
legbyes         0
wicket_type     0
dtype: int64

In [73]:
filled.columns

Index(['match_id', 'venue', 'innings', 'ball', 'batting_team', 'bowling_team',
       'striker', 'non_striker', 'bowler', 'runs_off_bat', 'extras', 'wides',
       'noballs', 'byes', 'legbyes', 'wicket_type'],
      dtype='object')

In [74]:
filled['total_runs'] = filled.groupby(['match_id', 'innings'])['runs_off_bat'].cumsum() + filled.groupby(['match_id', 'innings'])['extras'].cumsum() + filled.groupby(['match_id', 'innings'])['wides'].cumsum() + filled.groupby(['match_id', 'innings'])['byes'].cumsum() + filled.groupby(['match_id', 'innings'])['legbyes'].cumsum()

In [75]:
filled['total_runs_off_bat'] = filled.groupby(['match_id', 'innings'])['runs_off_bat'].cumsum()

In [76]:
filled['total_extras'] = filled.groupby(['match_id', 'innings'])['extras'].cumsum()

In [77]:
filled['total_wides'] = filled.groupby(['match_id', 'innings'])['wides'].cumsum()

In [78]:
filled['total_noballs'] = filled.groupby(['match_id', 'innings'])['noballs'].cumsum()

In [79]:
filled['total_byes'] = filled.groupby(['match_id', 'innings'])['byes'].cumsum()

In [80]:
filled['total_legbyes'] = filled.groupby(['match_id', 'innings'])['legbyes'].cumsum()

In [82]:
filled.columns

Index(['match_id', 'venue', 'innings', 'ball', 'batting_team', 'bowling_team',
       'striker', 'non_striker', 'bowler', 'runs_off_bat', 'extras', 'wides',
       'noballs', 'byes', 'legbyes', 'wicket_type', 'total_runs',
       'total_runs_off_bat', 'total_extras', 'total_wides', 'total_noballs',
       'total_byes', 'total_legbyes'],
      dtype='object')

In [83]:
cd = [ 'runs_off_bat', 'extras', 'wides',
       'noballs', 'byes', 'legbyes',]
filled = filled.drop(columns=cd)

In [93]:
X.columns

Index(['match_id', 'venue', 'innings', 'ball', 'batting_team', 'bowling_team',
       'striker', 'non_striker', 'bowler', 'wicket_type', 'total_runs_off_bat',
       'total_extras', 'total_wides', 'total_noballs', 'total_byes',
       'total_legbyes'],
      dtype='object')

In [88]:
X = filled.drop(columns='total_runs')
Y = filled['total_runs']

In [89]:
X_e = pd.get_dummies(X, columns=[ 'venue',  'batting_team', 'bowling_team',
       'striker', 'non_striker', 'bowler',  'wicket_type' ], prefix='Category')

In [90]:
# Standardize the input features (optional but often beneficial)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_es = scaler.fit_transform(X_e)

In [96]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_es, Y, test_size=0.2, random_state=42)



model = keras.Sequential([
    layers.Dense(256, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dropout(0.2),  # optional dropout layer to reduce overfitting
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='relu')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=20, batch_size=32, validation_split=0.2)

# Evaluate the model on the test set
test_loss, test_acc = model.evaluate(X_test, y_test)
print(f'Test accuracy: {test_acc}')

Epoch 1/20
348/348 [==============================] - 6s 11ms/step - loss: -1945.1180 - accuracy: 0.0033 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 2/20
348/348 [==============================] - 3s 10ms/step - loss: -1962.3463 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 3/20
348/348 [==============================] - 2s 5ms/step - loss: -1962.3464 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 4/20
348/348 [==============================] - 2s 5ms/step - loss: -1962.3463 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 5/20
348/348 [==============================] - 2s 5ms/step - loss: -1962.3463 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 6/20
348/348 [==============================] - 2s 5ms/step - loss: -1962.3461 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 7/20
348/348 [==============================] - 2s 6ms/step - loss: -1962.3468 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 8/20
348/348 [==============================] - 2s 5ms/step - loss: -1962.3464 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 9/20
348/348 [==============================] - 3s 8ms/step - loss: -1962.3478 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 10/20
348/348 [==============================] - 3s 8ms/step - loss: -1962.3474 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 11/20
348/348 [==============================] - 2s 6ms/step - loss: -1962.3468 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 12/20
348/348 [==============================] - 2s 4ms/step - loss: -1962.3467 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 13/20
348/348 [==============================] - 2s 5ms/step - loss: -1962.3470 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 14/20
348/348 [==============================] - 2s 5ms/step - loss: -1962.3461 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 15/20
348/348 [==============================] - 2s 4ms/step - loss: -1962.3463 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 16/20
348/348 [==============================] - 2s 5ms/step - loss: -1962.3455 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 17/20
348/348 [==============================] - 2s 6ms/step - loss: -1962.3459 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 18/20
348/348 [==============================] - 3s 8ms/step - loss: -1962.3464 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 19/20
348/348 [==============================] - 3s 8ms/step - loss: -1962.3459 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
Epoch 20/20
348/348 [==============================] - 2s 6ms/step - loss: -1962.3468 - accuracy: 0.0032 - val_loss: -1987.7419 - val_accuracy: 0.0032
109/109 [==============================] - 0s 3ms/step - loss: -1992.7412 - accuracy: 0.0032
Test accuracy: 0.0031645570416003466

Task-3

In [ ]:
deliveries.shape

(17380, 22)

In [ ]:
matches.shape

(32, 18)

In [ ]:
points_table.shape

(10, 13)

In [ ]:
matches.shape

(32, 18)

In [ ]:
matches.columns

Index(['season', 'team1', 'team2', 'date', 'match_number', 'venue', 'city',
       'toss_winner', 'toss_decision', 'player_of_match', 'umpire1', 'umpire2',
       'reserve_umpire', 'match_referee', 'winner', 'winner_runs',
       'winner_wickets', 'match_type'],
      dtype='object')

In [ ]:
matches_df = matches

In [ ]:
column = ['season','date', 'match_number','umpire1', 'umpire2',
       'reserve_umpire', 'match_referee','winner_runs',
       'winner_wickets', 'match_type','toss_winner', 'toss_decision','player_of_match']

In [ ]:
matches_df = matches_df.drop(columns=column)

In [ ]:
rankings = {
    "India" : 1,
    "Australia" : 2,
    "South Africa" : 3,
    "Pakistan" : 4,
    "New Zealand" : 5,
    "England" : 6,
    "Sri Lanka" : 7,
    "Bangladesh" : 8,
    "Afghanistan" : 9,
    "Netherlands" : 14,
}

In [ ]:
matches_df['team1_rank'] = matches_df['team1'].map(rankings)
matches_df['team2_rank'] = matches_df['team2'].map(rankings)

matches_df

,team1,team2,venue,city,winner,team1_rank,team2_rank
0,England,New Zealand,Narendra Modi Stadium,Ahmedabad,New Zealand,6,5
1,Pakistan,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,Pakistan,4,14
2,Afghanistan,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,Bangladesh,9,8
3,South Africa,Sri Lanka,Arun Jaitley Stadium,Delhi,South Africa,3,7
4,Australia,India,MA Chidambaram Stadium,Chennai,India,2,1
5,New Zealand,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,New Zealand,5,14
6,England,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,England,6,8
7,Sri Lanka,Pakistan,Rajiv Gandhi International Stadium,Hyderabad,Pakistan,7,4
8,Afghanistan,India,Arun Jaitley Stadium,Delhi,India,9,1
9,South Africa,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,South Africa,3,2
10,Bangladesh,New Zealand,MA Chidambaram Stadium,Chennai,New Zealand,8,5
11,Pakistan,India,Narendra Modi Stadium,Ahmedabad,India,4,1
12,Afghanistan,England,Arun Jaitley Stadium,Delhi,Afghanistan,9,6
13,Sri Lanka,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Australia,7,2
14,Netherlands,South Africa,Himachal Pradesh Cricket Association Stadium,Dharamsala,Netherlands,14,3
15,New Zealand,Afghanistan,MA Chidambaram Stadium,Chennai,New Zealand,5,9
16,Bangladesh,India,Maharashtra Cricket Association Stadium,Pune,India,8,1
17,Australia,Pakistan,M Chinnaswamy Stadium,Bengaluru,Australia,2,4
18,Netherlands,Sri Lanka,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Sri Lanka,14,7
19,South Africa,England,Wankhede Stadium,Mumbai,South Africa,3,6
20,New Zealand,India,Himachal Pradesh Cricket Association Stadium,Dharamsala,India,5,1
21,Pakistan,Afghanistan,MA Chidambaram Stadium,Chennai,Afghanistan,4,9
22,South Africa,Bangladesh,Wankhede Stadium,Mumbai,South Africa,3,8
23,Australia,Netherlands,Arun Jaitley Stadium,Delhi,Australia,2,14
24,England,Sri Lanka,M Chinnaswamy Stadium,Bengaluru,Sri Lanka,6,7
25,Pakistan,South Africa,MA Chidambaram Stadium,Chennai,South Africa,4,3
26,Australia,New Zealand,Himachal Pradesh Cricket Association Stadium,Dharamsala,Australia,2,5
27,Netherlands,Bangladesh,Eden Gardens,Kolkata,Netherlands,14,8
28,India,England,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,India,1,6
29,Sri Lanka,Afghanistan,Maharashtra Cricket Association Stadium,Pune,Afghanistan,7,9
30,Bangladesh,Pakistan,Eden Gardens,Kolkata,Pakistan,8,4
31,South Africa,New Zealand,Maharashtra Cricket Association Stadium,Pune,South Africa,3,5

In [ ]:
matches_df.columns

Index(['team1', 'team2', 'venue', 'city', 'winner', 'team1_rank',
       'team2_rank'],
      dtype='object')

In [ ]:
new_order = ['team1','team1_rank', 'team2','team2_rank', 'venue', 'city', 'winner',
       ]
matches_df = matches_df[new_order]
matches_df

,team1,team1_rank,team2,team2_rank,venue,city,winner
0,England,6,New Zealand,5,Narendra Modi Stadium,Ahmedabad,New Zealand
1,Pakistan,4,Netherlands,14,Rajiv Gandhi International Stadium,Hyderabad,Pakistan
2,Afghanistan,9,Bangladesh,8,Himachal Pradesh Cricket Association Stadium,Dharamsala,Bangladesh
3,South Africa,3,Sri Lanka,7,Arun Jaitley Stadium,Delhi,South Africa
4,Australia,2,India,1,MA Chidambaram Stadium,Chennai,India
5,New Zealand,5,Netherlands,14,Rajiv Gandhi International Stadium,Hyderabad,New Zealand
6,England,6,Bangladesh,8,Himachal Pradesh Cricket Association Stadium,Dharamsala,England
7,Sri Lanka,7,Pakistan,4,Rajiv Gandhi International Stadium,Hyderabad,Pakistan
8,Afghanistan,9,India,1,Arun Jaitley Stadium,Delhi,India
9,South Africa,3,Australia,2,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,South Africa
10,Bangladesh,8,New Zealand,5,MA Chidambaram Stadium,Chennai,New Zealand
11,Pakistan,4,India,1,Narendra Modi Stadium,Ahmedabad,India
12,Afghanistan,9,England,6,Arun Jaitley Stadium,Delhi,Afghanistan
13,Sri Lanka,7,Australia,2,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Australia
14,Netherlands,14,South Africa,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,Netherlands
15,New Zealand,5,Afghanistan,9,MA Chidambaram Stadium,Chennai,New Zealand
16,Bangladesh,8,India,1,Maharashtra Cricket Association Stadium,Pune,India
17,Australia,2,Pakistan,4,M Chinnaswamy Stadium,Bengaluru,Australia
18,Netherlands,14,Sri Lanka,7,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,Sri Lanka
19,South Africa,3,England,6,Wankhede Stadium,Mumbai,South Africa
20,New Zealand,5,India,1,Himachal Pradesh Cricket Association Stadium,Dharamsala,India
21,Pakistan,4,Afghanistan,9,MA Chidambaram Stadium,Chennai,Afghanistan
22,South Africa,3,Bangladesh,8,Wankhede Stadium,Mumbai,South Africa
23,Australia,2,Netherlands,14,Arun Jaitley Stadium,Delhi,Australia
24,England,6,Sri Lanka,7,M Chinnaswamy Stadium,Bengaluru,Sri Lanka
25,Pakistan,4,South Africa,3,MA Chidambaram Stadium,Chennai,South Africa
26,Australia,2,New Zealand,5,Himachal Pradesh Cricket Association Stadium,Dharamsala,Australia
27,Netherlands,14,Bangladesh,8,Eden Gardens,Kolkata,Netherlands
28,India,1,England,6,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,India
29,Sri Lanka,7,Afghanistan,9,Maharashtra Cricket Association Stadium,Pune,Afghanistan
30,Bangladesh,8,Pakistan,4,Eden Gardens,Kolkata,Pakistan
31,South Africa,3,New Zealand,5,Maharashtra Cricket Association Stadium,Pune,South Africa

In [ ]:
cleaned = matches_df
cleaned = cleaned.reset_index(drop=True)
cleaned.loc[cleaned['winner'] == cleaned['team2'], 'winning_team']=2
cleaned.loc[cleaned['winner'] == cleaned['team1'], 'winning_team']=1
cleaned = cleaned.drop(['winner'], axis=1)
cleaned['winning_team']=cleaned['winning_team'].astype(int)
cleaned

,team1,team1_rank,team2,team2_rank,venue,city,winning_team
0,England,6,New Zealand,5,Narendra Modi Stadium,Ahmedabad,2
1,Pakistan,4,Netherlands,14,Rajiv Gandhi International Stadium,Hyderabad,1
2,Afghanistan,9,Bangladesh,8,Himachal Pradesh Cricket Association Stadium,Dharamsala,2
3,South Africa,3,Sri Lanka,7,Arun Jaitley Stadium,Delhi,1
4,Australia,2,India,1,MA Chidambaram Stadium,Chennai,2
5,New Zealand,5,Netherlands,14,Rajiv Gandhi International Stadium,Hyderabad,1
6,England,6,Bangladesh,8,Himachal Pradesh Cricket Association Stadium,Dharamsala,1
7,Sri Lanka,7,Pakistan,4,Rajiv Gandhi International Stadium,Hyderabad,2
8,Afghanistan,9,India,1,Arun Jaitley Stadium,Delhi,2
9,South Africa,3,Australia,2,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,1
10,Bangladesh,8,New Zealand,5,MA Chidambaram Stadium,Chennai,2
11,Pakistan,4,India,1,Narendra Modi Stadium,Ahmedabad,2
12,Afghanistan,9,England,6,Arun Jaitley Stadium,Delhi,1
13,Sri Lanka,7,Australia,2,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,2
14,Netherlands,14,South Africa,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,1
15,New Zealand,5,Afghanistan,9,MA Chidambaram Stadium,Chennai,1
16,Bangladesh,8,India,1,Maharashtra Cricket Association Stadium,Pune,2
17,Australia,2,Pakistan,4,M Chinnaswamy Stadium,Bengaluru,1
18,Netherlands,14,Sri Lanka,7,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,2
19,South Africa,3,England,6,Wankhede Stadium,Mumbai,1
20,New Zealand,5,India,1,Himachal Pradesh Cricket Association Stadium,Dharamsala,2
21,Pakistan,4,Afghanistan,9,MA Chidambaram Stadium,Chennai,2
22,South Africa,3,Bangladesh,8,Wankhede Stadium,Mumbai,1
23,Australia,2,Netherlands,14,Arun Jaitley Stadium,Delhi,1
24,England,6,Sri Lanka,7,M Chinnaswamy Stadium,Bengaluru,2
25,Pakistan,4,South Africa,3,MA Chidambaram Stadium,Chennai,2
26,Australia,2,New Zealand,5,Himachal Pradesh Cricket Association Stadium,Dharamsala,1
27,Netherlands,14,Bangladesh,8,Eden Gardens,Kolkata,1
28,India,1,England,6,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,1
29,Sri Lanka,7,Afghanistan,9,Maharashtra Cricket Association Stadium,Pune,2
30,Bangladesh,8,Pakistan,4,Eden Gardens,Kolkata,2
31,South Africa,3,New Zealand,5,Maharashtra Cricket Association Stadium,Pune,1

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

X = cleaned.drop(columns = ['winning_team'])
y = cleaned['winning_team']
# One-Hot Encoding

dfc = pd.get_dummies(X, columns=['team1', 'team2', 'venue', 'city',], prefix='encoded',drop_first=True)

# Print the final DataFrame with label-encoded and one-hot encoded columns
dfc

,team1_rank,team2_rank,encoded_Australia,encoded_Bangladesh,encoded_England,encoded_India,encoded_Netherlands,encoded_New Zealand,encoded_Pakistan,encoded_South Africa,...,encoded_Wankhede Stadium,encoded_Bengaluru,encoded_Chennai,encoded_Delhi,encoded_Dharamsala,encoded_Hyderabad,encoded_Kolkata,encoded_Lucknow,encoded_Mumbai,encoded_Pune
0,6,5,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,14,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,9,8,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,7,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,2,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,5,14,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
6,6,8,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7,7,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,9,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,3,2,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
10,8,5,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
11,4,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,9,6,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13,7,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,14,3,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,5,9,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
16,8,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,2,4,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18,14,7,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,3,6,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
20,5,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
21,4,9,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
22,3,8,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
23,2,14,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
24,6,7,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
25,4,3,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
26,2,5,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,14,8,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
28,1,6,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,7,9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
30,8,4,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31,3,5,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
y

0     2
1     1
2     2
3     1
4     2
5     1
6     1
7     2
8     2
9     1
10    2
11    2
12    1
13    2
14    1
15    1
16    2
17    1
18    2
19    1
20    2
21    2
22    1
23    1
24    2
25    2
26    1
27    1
28    1
29    2
30    2
31    1
Name: winning_team, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
numerical_features = ['team1_rank', 'team2_rank', ]
scaler = StandardScaler()
dfc[numerical_features] = scaler.fit_transform(dfc[numerical_features])
dfc

,team1_rank,team2_rank,encoded_Australia,encoded_Bangladesh,encoded_England,encoded_India,encoded_Netherlands,encoded_New Zealand,encoded_Pakistan,encoded_South Africa,...,encoded_Wankhede Stadium,encoded_Bengaluru,encoded_Chennai,encoded_Delhi,encoded_Dharamsala,encoded_Hyderabad,encoded_Kolkata,encoded_Lucknow,encoded_Mumbai,encoded_Pune
0,0.044976,-0.230651,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-0.530714,2.229629,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,0.908510,0.589442,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,-0.818559,0.316078,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,-1.106403,-1.324109,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,-0.242869,2.229629,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
6,0.044976,0.589442,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
7,0.332820,-0.504016,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,0.908510,-1.324109,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,-0.818559,-1.050745,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
10,0.620665,-0.230651,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
11,-0.530714,-1.324109,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,0.908510,0.042713,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
13,0.332820,-1.050745,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14,2.347734,-0.777380,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
15,-0.242869,0.862807,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
16,0.620665,-1.324109,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17,-1.106403,-0.504016,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18,2.347734,0.316078,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19,-0.818559,0.042713,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
20,-0.242869,-1.324109,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
21,-0.530714,0.862807,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
22,-0.818559,0.589442,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
23,-1.106403,2.229629,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
24,0.044976,0.316078,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
25,-0.530714,-0.777380,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
26,-1.106403,-0.230651,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,2.347734,0.589442,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
28,-1.394248,0.042713,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,0.332820,0.862807,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
30,0.620665,-0.504016,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31,-0.818559,-0.230651,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
y

0     2
1     1
2     2
3     1
4     2
5     1
6     1
7     2
8     2
9     1
10    2
11    2
12    1
13    2
14    1
15    1
16    2
17    1
18    2
19    1
20    2
21    2
22    1
23    1
24    2
25    2
26    1
27    1
28    1
29    2
30    2
31    1
Name: winning_team, dtype: int64

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

# Assuming you have a DataFrame named 'df' with features and labels
# Adjust this based on your actual DataFrame structure


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(dfc, y, test_size=0.2, )



# Define the model
model = Sequential()
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
# model.add(Dropout(0.5))  # Optional: Dropout for regularization
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
# model.add(Dropout(0.5))  # Optional: Dropout for regularization
model.add(Dense(1, activation='sigmoid'))  # Sigmoid activation for binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=8, validation_split=0.2)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)
y_pred_binary = (y_pred > 0.5).astype(int)

accuracy = accuracy_score(y_test, y_pred_binary)
print("Accuracy:", accuracy)

Epoch 1/10
3/3 [==============================] - 1s 81ms/step - loss: 0.7978 - accuracy: 0.0000e+00 - val_loss: 0.7630 - val_accuracy: 0.4000
Epoch 2/10
3/3 [==============================] - 0s 12ms/step - loss: 0.7280 - accuracy: 0.3000 - val_loss: 0.7052 - val_accuracy: 0.4000
Epoch 3/10
3/3 [==============================] - 0s 12ms/step - loss: 0.6723 - accuracy: 0.3500 - val_loss: 0.6527 - val_accuracy: 0.4000
Epoch 4/10
3/3 [==============================] - 0s 13ms/step - loss: 0.6288 - accuracy: 0.5000 - val_loss: 0.6079 - val_accuracy: 0.4000
Epoch 5/10
3/3 [==============================] - 0s 14ms/step - loss: 0.5962 - accuracy: 0.5500 - val_loss: 0.5688 - val_accuracy: 0.4000
Epoch 6/10
3/3 [==============================] - 0s 14ms/step - loss: 0.5591 - accuracy: 0.5500 - val_loss: 0.5349 - val_accuracy: 0.4000
Epoch 7/10
3/3 [==============================] - 0s 13ms/step - loss: 0.5235 - accuracy: 0.5500 - val_loss: 0.4902 - val_accuracy: 0.4000
Epoch 8/10
3/3 [==============================] - 0s 12ms/step - loss: 0.4788 - accuracy: 0.5500 - val_loss: 0.4397 - val_accuracy: 0.4000
Epoch 9/10
3/3 [==============================] - 0s 13ms/step - loss: 0.4275 - accuracy: 0.5500 - val_loss: 0.3845 - val_accuracy: 0.4000
Epoch 10/10
3/3 [==============================] - 0s 13ms/step - loss: 0.3710 - accuracy: 0.5500 - val_loss: 0.3211 - val_accuracy: 0.4000
1/1 [==============================] - 0s 63ms/step
Accuracy: 0.42857142857142855

In [ ]:
print(y_test)
print(y_pred_binary)

0     2
25    2
15    1
9     1
7     2
8     2
28    1
Name: winning_team, dtype: int64
[[1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]]

In [ ]:
data = {
    'team1': ['India', 'South Africa'],
    'team2': ['New Zealand', 'Australia'],
    'venue': ['Wankhede Stadium', 'Eden Gardens'],
    'city': ['Mumbai', 'Kolkata'],
    'team1_rank': [1, 3],
    'team2_rank': [5, 2]
}

# Create DataFrame
test = pd.DataFrame(data)
test

,team1,team2,venue,city,team1_rank,team2_rank
0,India,New Zealand,Wankhede Stadium,Mumbai,1,5
1,South Africa,Australia,Eden Gardens,Kolkata,3,2

In [ ]:
df1 = test
df2 = cleaned

# Concatenate the DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)

# Display the combined DataFrame
combined_df

,team1,team2,venue,city,team1_rank,team2_rank,winning_team
0,India,New Zealand,Wankhede Stadium,Mumbai,1,5,NaN
1,South Africa,Australia,Eden Gardens,Kolkata,3,2,NaN
2,England,New Zealand,Narendra Modi Stadium,Ahmedabad,6,5,2.0
3,Pakistan,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,4,14,1.0
4,Afghanistan,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,9,8,2.0
5,South Africa,Sri Lanka,Arun Jaitley Stadium,Delhi,3,7,1.0
6,Australia,India,MA Chidambaram Stadium,Chennai,2,1,2.0
7,New Zealand,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,5,14,1.0
8,England,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,6,8,1.0
9,Sri Lanka,Pakistan,Rajiv Gandhi International Stadium,Hyderabad,7,4,2.0
10,Afghanistan,India,Arun Jaitley Stadium,Delhi,9,1,2.0
11,South Africa,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,3,2,1.0
12,Bangladesh,New Zealand,MA Chidambaram Stadium,Chennai,8,5,2.0
13,Pakistan,India,Narendra Modi Stadium,Ahmedabad,4,1,2.0
14,Afghanistan,England,Arun Jaitley Stadium,Delhi,9,6,1.0
15,Sri Lanka,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,7,2,2.0
16,Netherlands,South Africa,Himachal Pradesh Cricket Association Stadium,Dharamsala,14,3,1.0
17,New Zealand,Afghanistan,MA Chidambaram Stadium,Chennai,5,9,1.0
18,Bangladesh,India,Maharashtra Cricket Association Stadium,Pune,8,1,2.0
19,Australia,Pakistan,M Chinnaswamy Stadium,Bengaluru,2,4,1.0
20,Netherlands,Sri Lanka,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,14,7,2.0
21,South Africa,England,Wankhede Stadium,Mumbai,3,6,1.0
22,New Zealand,India,Himachal Pradesh Cricket Association Stadium,Dharamsala,5,1,2.0
23,Pakistan,Afghanistan,MA Chidambaram Stadium,Chennai,4,9,2.0
24,South Africa,Bangladesh,Wankhede Stadium,Mumbai,3,8,1.0
25,Australia,Netherlands,Arun Jaitley Stadium,Delhi,2,14,1.0
26,England,Sri Lanka,M Chinnaswamy Stadium,Bengaluru,6,7,2.0
27,Pakistan,South Africa,MA Chidambaram Stadium,Chennai,4,3,2.0
28,Australia,New Zealand,Himachal Pradesh Cricket Association Stadium,Dharamsala,2,5,1.0
29,Netherlands,Bangladesh,Eden Gardens,Kolkata,14,8,1.0
30,India,England,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,1,6,1.0
31,Sri Lanka,Afghanistan,Maharashtra Cricket Association Stadium,Pune,7,9,2.0
32,Bangladesh,Pakistan,Eden Gardens,Kolkata,8,4,2.0
33,South Africa,New Zealand,Maharashtra Cricket Association Stadium,Pune,3,5,1.0

In [ ]:
test_df = pd.get_dummies(combined_df, columns=['team1', 'team2', 'venue', 'city',], prefix='encoded', drop_first=True)

# Print the final DataFrame with label-encoded and one-hot encoded columns
test_df = test_df.drop(columns = ['winning_team'])
t_df = test_df.head(2)



numerical_features = ['team1_rank', 'team2_rank', ]
scaler = StandardScaler()
t_df[numerical_features] = scaler.fit_transform(t_df[numerical_features])
t_df

<ipython-input-26-46471189a0e2>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_df[numerical_features] = scaler.fit_transform(t_df[numerical_features])

,team1_rank,team2_rank,encoded_Australia,encoded_Bangladesh,encoded_England,encoded_India,encoded_Netherlands,encoded_New Zealand,encoded_Pakistan,encoded_South Africa,...,encoded_Wankhede Stadium,encoded_Bengaluru,encoded_Chennai,encoded_Delhi,encoded_Dharamsala,encoded_Hyderabad,encoded_Kolkata,encoded_Lucknow,encoded_Mumbai,encoded_Pune
0,-1.0,1.0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,1.0,-1.0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
t_df.shape

(2, 38)

In [ ]:
y_pred_sf = model.predict(t_df)
y_pred_binary_sf = (y_pred_sf > 0.5).astype(int)
y_pred_binary_sf

1/1 [==============================] - 0s 15ms/step

array([[1],
       [1]])

In [ ]:
data = {'winning_team': [1,1]}
data = pd.DataFrame(data)

df1 = data
df2 = pd.DataFrame(cleaned['winning_team'])

# Concatenate the DataFrames
new_df = pd.concat([df1, df2], ignore_index=True)

new_df

    winning_team
0              1
1              1
2              2
3              1
4              2
5              1
6              2
7              1
8              1
9              2
10             2
11             1
12             2
13             2
14             1
15             2
16             1
17             1
18             2
19             1
20             2
21             1
22             2
23             2
24             1
25             1
26             2
27             2
28             1
29             1
30             1
31             2
32             2
33             1

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

# Assuming you have a DataFrame named 'df' with features and labels
# Adjust this based on your actual DataFrame structure


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(test_df, new_df, test_size=0.2, )



# Define the model
model = Sequential()
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
# model.add(Dropout(0.5))  # Optional: Dropout for regularization
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
# model.add(Dropout(0.5))  # Optional: Dropout for regularization
model.add(Dense(1, activation='sigmoid'))  # Sigmoid activation for binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=8, validation_split=0.2)

# Evaluate the model on the testing set
y_pred = model.predict(X_test)
y_pred_binary = (y_pred > 0.5).astype(int)

accuracy = accuracy_score(y_test, y_pred_binary)
print("Accuracy:", accuracy)

Epoch 1/10
3/3 [==============================] - 1s 67ms/step - loss: 0.9094 - accuracy: 0.0000e+00 - val_loss: 0.8233 - val_accuracy: 0.1667
Epoch 2/10
3/3 [==============================] - 0s 12ms/step - loss: 0.6176 - accuracy: 0.5238 - val_loss: 0.4719 - val_accuracy: 0.5000
Epoch 3/10
3/3 [==============================] - 0s 11ms/step - loss: 0.3116 - accuracy: 0.5238 - val_loss: 0.1558 - val_accuracy: 0.5000
Epoch 4/10
3/3 [==============================] - 0s 11ms/step - loss: 0.0991 - accuracy: 0.5238 - val_loss: -0.1438 - val_accuracy: 0.5000
Epoch 5/10
3/3 [==============================] - 0s 11ms/step - loss: -0.1294 - accuracy: 0.5238 - val_loss: -0.4351 - val_accuracy: 0.5000
Epoch 6/10
3/3 [==============================] - 0s 11ms/step - loss: -0.3337 - accuracy: 0.5238 - val_loss: -0.7239 - val_accuracy: 0.5000
Epoch 7/10
3/3 [==============================] - 0s 11ms/step - loss: -0.5251 - accuracy: 0.5238 - val_loss: -1.0054 - val_accuracy: 0.5000
Epoch 8/10
3/3 [==============================] - 0s 11ms/step - loss: -0.7113 - accuracy: 0.5238 - val_loss: -1.2983 - val_accuracy: 0.5000
Epoch 9/10
3/3 [==============================] - 0s 11ms/step - loss: -0.9165 - accuracy: 0.5238 - val_loss: -1.5973 - val_accuracy: 0.5000
Epoch 10/10
3/3 [==============================] - 0s 20ms/step - loss: -1.1575 - accuracy: 0.5238 - val_loss: -1.9234 - val_accuracy: 0.5000
1/1 [==============================] - 0s 61ms/step
Accuracy: 0.5714285714285714

In [ ]:
final_data = {
    'team1': ['India'],
    'team2': ['South Africa'],
    'venue': ["Narendra Modi Stadium"],
    'city': ['Ahmedabad'],
    'team1_rank': [1],
    'team2_rank': [3]
}
data = pd.DataFrame(final_data)

In [ ]:
df1 = test
df2 = cleaned

# Concatenate the DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)

# Display the combined DataFrame
combined_df

,team1,team2,venue,city,team1_rank,team2_rank,winning_team
0,India,New Zealand,Wankhede Stadium,Mumbai,1,5,NaN
1,South Africa,Australia,Eden Gardens,Kolkata,3,2,NaN
2,England,New Zealand,Narendra Modi Stadium,Ahmedabad,6,5,2.0
3,Pakistan,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,4,14,1.0
4,Afghanistan,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,9,8,2.0
5,South Africa,Sri Lanka,Arun Jaitley Stadium,Delhi,3,7,1.0
6,Australia,India,MA Chidambaram Stadium,Chennai,2,1,2.0
7,New Zealand,Netherlands,Rajiv Gandhi International Stadium,Hyderabad,5,14,1.0
8,England,Bangladesh,Himachal Pradesh Cricket Association Stadium,Dharamsala,6,8,1.0
9,Sri Lanka,Pakistan,Rajiv Gandhi International Stadium,Hyderabad,7,4,2.0
10,Afghanistan,India,Arun Jaitley Stadium,Delhi,9,1,2.0
11,South Africa,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,3,2,1.0
12,Bangladesh,New Zealand,MA Chidambaram Stadium,Chennai,8,5,2.0
13,Pakistan,India,Narendra Modi Stadium,Ahmedabad,4,1,2.0
14,Afghanistan,England,Arun Jaitley Stadium,Delhi,9,6,1.0
15,Sri Lanka,Australia,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,7,2,2.0
16,Netherlands,South Africa,Himachal Pradesh Cricket Association Stadium,Dharamsala,14,3,1.0
17,New Zealand,Afghanistan,MA Chidambaram Stadium,Chennai,5,9,1.0
18,Bangladesh,India,Maharashtra Cricket Association Stadium,Pune,8,1,2.0
19,Australia,Pakistan,M Chinnaswamy Stadium,Bengaluru,2,4,1.0
20,Netherlands,Sri Lanka,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,14,7,2.0
21,South Africa,England,Wankhede Stadium,Mumbai,3,6,1.0
22,New Zealand,India,Himachal Pradesh Cricket Association Stadium,Dharamsala,5,1,2.0
23,Pakistan,Afghanistan,MA Chidambaram Stadium,Chennai,4,9,2.0
24,South Africa,Bangladesh,Wankhede Stadium,Mumbai,3,8,1.0
25,Australia,Netherlands,Arun Jaitley Stadium,Delhi,2,14,1.0
26,England,Sri Lanka,M Chinnaswamy Stadium,Bengaluru,6,7,2.0
27,Pakistan,South Africa,MA Chidambaram Stadium,Chennai,4,3,2.0
28,Australia,New Zealand,Himachal Pradesh Cricket Association Stadium,Dharamsala,2,5,1.0
29,Netherlands,Bangladesh,Eden Gardens,Kolkata,14,8,1.0
30,India,England,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Lucknow,1,6,1.0
31,Sri Lanka,Afghanistan,Maharashtra Cricket Association Stadium,Pune,7,9,2.0
32,Bangladesh,Pakistan,Eden Gardens,Kolkata,8,4,2.0
33,South Africa,New Zealand,Maharashtra Cricket Association Stadium,Pune,3,5,1.0

In [ ]:


test_df = pd.get_dummies(combined_df, columns=['team1', 'team2', 'venue', 'city',], prefix='encoded', drop_first=True)

# Print the final DataFrame with label-encoded and one-hot encoded columns
test_df = test_df.drop(columns = ['winning_team'])
tf_df = test_df.head(1)



numerical_features = ['team1_rank', 'team2_rank', ]
scaler = StandardScaler()
tf_df[numerical_features] = scaler.fit_transform(tf_df[numerical_features])
tf_df

<ipython-input-48-0eeb968f26f7>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tf_df[numerical_features] = scaler.fit_transform(tf_df[numerical_features])

,team1_rank,team2_rank,encoded_Australia,encoded_Bangladesh,encoded_England,encoded_India,encoded_Netherlands,encoded_New Zealand,encoded_Pakistan,encoded_South Africa,...,encoded_Wankhede Stadium,encoded_Bengaluru,encoded_Chennai,encoded_Delhi,encoded_Dharamsala,encoded_Hyderabad,encoded_Kolkata,encoded_Lucknow,encoded_Mumbai,encoded_Pune
0,0.0,0.0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [ ]:
y_pred = model.predict(tf_df)
y_pred_binary = (y_pred ).astype(int)

1/1 [==============================] - 0s 13ms/step

In [ ]:
y_pred

array([[0.6768393]], dtype=float32)